header {
    vertical-align: middle;
    height: 5rem;
    text-align: center;
    color: white;
    background-color: blue;
}

.card {
    margin: 1rem 2rem 1rem 2rem;
    text-align: center;
    width: 15rem;

}

.card-body {    
    background-color: rgb(224, 221, 221);
    
}
.card-header, .card-footer{
    color: white;
    background-color: rgb(76, 76, 207);
}

.content {
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
    list-style-type: none;
}

